<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>My page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<!--ヘッダーメニュー-->
<nav class="navbar navbar-expand navbar-dark bg-success sticky-top">
  <div class="collapse navbar-collapse justify-content-center" id="navmenu1">
    <a href="#" class="navbar-brand"><h3>マイアカウント</h3></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'same_users_all' %}">アカウント一覧へ戻る</a>
        <a class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">アカウントの削除</a>
    </div>
  </div>
</nav>

<!-- モーダル(アカウント削除の確認用)の設定 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">アカウントの削除</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <p>アカウントを削除します。よろしいですか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <a class="btn btn-danger" href="{% url 'delete' %}" role="button">削除</a>
      </div>
    </div>
  </div>
</div>

<!--フッターメニュー-->
<div class="container-fluid bg-secondary text-white fixed-bottom">
    <div class="text-center">
        <a class="stretched-link link-light text-decoration-none" href="#tag1">
            最新コメントへ
        </a>
    </div>
</div>

<!--アカウント情報の更新-->
<div class="container mt-3 mb-5 w-80">
    <h3>アカウント情報の更新</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <!--labelのforとinput・textareaのidでそれぞれ紐付け、nameはpostしたときにviewで使う-->
            <div class="row">
                <div>
                    <label for="nickname_input">ニックネーム</label></br>
                    <input type="text" class="form-control"
                           name="nickname" id="nickname_input"
                           value="{{ Account.nickname }}">
                </div>
                <div class="col-6">
                    <label for="university_name_input">大学名</label></br>
                    <input type="text" class="form-control"
                           name="university_name" id="university_name_input"
                           value="{{ Account.university_name }}" placeholder="○○大学">
                </div>
                 <div class="col-6">
                    <label for="university_name_input">キャンパス名</label></br>
                    <input type="text" class="form-control"
                           name="campus_name" id="campus_name_input"
                           value="{{ Account.campus_name }}" placeholder="××キャンパス">
                 </div>
            </div>
            <div>
                <label for="university_name_input">得意な言語</label></br>
                <input type="text" class="form-control"
                       name="good_prog_language" id="good_prog_language_input"
                       value="{{ Account.good_prog_language }}" placeholder="Python">
            </div>
            <div>
                <label for="university_name_input">教えてほしい言語</label></br>
                <input type="text" class="form-control"
                       name="bad_prog_language" id="bad_prog_language_input"
                       value="{{ Account.bad_prog_language }}" placeholder="R, javascript">
            </div>
            <div>
                <label for="text_area">ひとこと</label></br>
                    <input type="text" name="tweet" class="form-control"
                           id="text_area" value="{{ Account.tweet }}"
                           placeholder="よろしく！">

                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success" name="btn_account_value" type="submit" id="button-addon">更新</button>
                </div>
            </div>
        </form>
</div>

<!-- アカウントに対するコメントを全件取得 -->
<div class="container mt-3 mb-5 w-80">
    <h3>みんなからのコメント</h3>
    <div class="justify-content-between">
        <ul class="list-group">
            {% for comment in Account.comments.all %}
            <li class="list-group-item">
                <small><small>{{ comment.posted_by }} - {{ comment.posted_at|date:"y/n/j"}}</small></small></br>
                <div>{{ comment.text| linebreaksbr }}</div>
            </li>
            {% empty %}
            <p>メッセージはまだ届いていないようです</p>
            {% endfor %}
        </ul>
    </div>
    <!--ここからコメント投稿部分-->
    <div class="row">
        <div class="justify-content-around">
            <form action="" method="POST">
                <br>
                <p><label for="com">メッセージを送る</label>
                    <small><small>最終更新日：{{ Account.last_modify }}</small></small></p>
                {% csrf_token %}
                <textarea class="form-control" name="text" id="com"></textarea>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success" name="btn_comment" type="submit" id="button-addon2">送信</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--モーダルを表示する為にscriptタグでpopper.jsとjavascript.jsを追加する必要がある
</body>タグの前に挿入する-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
<a name = "tag1"></a>
</html>