h1{
  text-align: center;
}

div.reg{
  background-color: #EEEEEE;
  margin-left: 15%;
  margin-right: 15%;
}

table.reg_form{
  width: 100%;
  border-spacing: 10px 30px;
  padding-left:20px;
}

.btn{
    color: #fff;
    background-color: #000033;
    font-size: 1.0em;
    padding: 10px 30px;
    margin-left: 80%;
}

.btn:hover{
  color: #fff;
  background: #000099;
}

 /*ここからスクロールボタン*/
 /*上にスクロールボタン*/
html{
    scroll-behavior: smooth;
}
.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
@media(max-width:750px){
    .gotop{
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 1;
        border: none;
        background: none;
        bottom: 10px;
        right: 10px;
    }
    .gotop::before{
        bottom: 10;
    }
}

 /*下にスクロールボタン*/
html{
    scroll-behavior: smooth;
}
.godown{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10001;
}
.godown::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(135deg);
}
.godown:hover{
    opacity: 1;
}
@media(max-width:750px){
    .godown{
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 1;
        border: none;
        background: none;
        bottom: 10px;
        right: 10px;
    }
    .godown::before{
        bottom: 10;
    }
}